<!DOCTYPE html>
<html lang="en">

<th:block th:include="layout/head1 :: head1"/>
<!-- ========== HEADER ========== -->
<!--<head>-->
<!--    <th:block th:replace="layout/head :: head"/>-->
<!--</head>-->


<!--&lt;!&ndash; ========== END HEADER ========== &ndash;&gt;-->

<!--&lt;!&ndash; ========== MAIN CONTENT ========== &ndash;&gt;-->
<!--&lt;!&ndash; Navbar Vertical &ndash;&gt;-->

<!--&lt;!&ndash; End Navbar Vertical &ndash;&gt;-->


<!--<body>-->
<!--<th:block th:replace="layout/header :: header"/>-->

<!--<th:block th:replace="layout/sidebar :: sidebar"/>-->

<main id="content" role="main" class="main">
    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Pages</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Users</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Overview</li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Users</h1>
                </div>

                <div class="col-sm-auto">
                    <a class="btn btn-primary" href="/add-user">
                        <i class="tio-user-add mr-1"></i> Add Staff
                    </a>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <!-- Card -->
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <div class="row justify-content-between align-items-center flex-grow-1">
                    <!--SEARCH-->
                    <div class="col-sm-6 col-md-4 mb-3 mb-sm-0">
                        <form>
                            <!-- Search -->
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tio-search"></i>
                                    </div>
                                </div>
                                <input id="datatableSearch" type="search" class="form-control"
                                       placeholder="Search users" aria-label="Search users">
                            </div>
                            <!-- End Search -->
                        </form>
                    </div>


                    <!--XOÁ-->
                    <div class="col-sm-6">
                        <div class="d-sm-flex justify-content-sm-end align-items-sm-center">
                            <!-- Datatable Info -->
                            <div id="datatableCounterInfo" class="mr-2 mb-2 mb-sm-0" style="display: none;">
                                <div class="d-flex align-items-center">
                                        <span class="font-size-sm mr-3">
                                            <span id="datatableCounter">0</span>Selected
                                        </span>
                                    <a class="btn btn-sm btn-outline-danger" href="javascript:;">
                                        <i class="tio-delete-outlined"></i> Delete
                                    </a>
                                </div>
                            </div>
                            <!-- End Datatable Info -->

                            <!-- End Unfold -->
                        </div>
                    </div>
                </div>
                <!-- End Row -->
            </div>
            <!-- End Header -->


            <!-- Table -->
            <div class="table-responsive datatable-custom">
                <table id="tbUser"
                       class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                       data-hs-datatables-options='{
                             "columnDefs": [{
                                "targets": [0, 7],
                                "orderAble": false
                              }],
                             "order": [],
                             "info": {
                               "totalQty": "#datatableWithPaginationInfoTotalQty"
                             },
                             "search": "#datatableSearch",
                             "entries": "#datatableEntries",
                             "pageLength": 15,
                             "isResponsive": false,
                             "isShowPaging": false,
                             "pagination": "datatablePagination"
                         }'>
                    <thead class="thead-light">
                    <tr>
                        <th class="table-column-pr-0">
                            <div class="custom-control custom-checkbox">
                                <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" for="datatableCheckAll"></label>
                            </div>
                        </th>
                        <th class="table-column-pl-0">Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="user : ${users}">
                        <tr th:id="'tr_'+ ${user.id}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.fullName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.address}"></td>
                            <td>
                                <button class="btn btn-outline-warning d-block h5 mb-0" th:text="${user.status}"></button>
                            </td>
                            <td>
                                <button class="btn btn-outline-info d-block h5 mb-0" th:text="${user.role}"></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-primary edit" th:data-id="${user.id}">
                                    <i class="fa fa-edit">Edit</i>
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger delete"
                                        th:data-id="${user.id}">
                                    <i class="fa fa-ban">Delete</i>
                                </button>
                            </td>
                        </tr>
<!--                        <tr>-->
<!--                            <td class="table-column-pr-0">-->
<!--                                <div class="custom-control custom-checkbox">-->
<!--                                    <input type="checkbox" class="custom-control-input" id="usersDataCheck1">-->
<!--                                    <label class="custom-control-label" for="usersDataCheck1"></label>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <span class="d-block h5 mb-0" th:text="${user.fullName}"></span>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <span class="d-block h5 mb-0" th:text="${user.email}"></span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span class="d-block h5 mb-0" th:text="${user.phone}"></span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span class="d-block h5 mb-0" th:text="${user.age}"></span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span class="d-block h5 mb-0" th:text="${user.address}"></span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <span class="btn btn-outline-warning d-block h5 mb-0" th:text="${user.status}"></span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <button class="btn btn-outline-info d-block h5 mb-0" th:text="${user.role}"></button>-->
<!--                            </td>-->
<!--                            <td>-->

<!--                                &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                                <button type="button" class="btn btn-outline-primary edit"  data-bs-toggle="modal"-->
<!--                                        data-bs-target="#staticBackdrop" th:data-id="${user.id}">-->
<!--                                    Edit-->
<!--                                </button>-->

<!--                            </td>-->
<!--                            <td>-->
<!--                                <button type="button" class="btn btn-outline-danger btn-delete">-->
<!--                                    Delete-->
<!--                                </button>-->
<!--                            </td>-->
<!--                        </tr>-->
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!-- End Table -->

            <!-- paging -->
            <th:block th:replace="layout/paging :: paging"/>
            <!-- End Paging -->

        </div>
        <!-- End Card -->
    </div>
    <!-- End Content -->


    <!-- Footer -->
    <th:block th:replace="layout/footer :: footer"/>
    <!-- End Footer -->

</main>
<!-- ========== END MAIN CONTENT ========== -->

<!-- ========== SECONDARY CONTENTS ========== -->

<!-- Activity -->
<!-- Welcome Message Modal -->

<th:block th:replace="layout/activityWelcome :: activityWelcome"/>

<!-- End Activity -->
<!-- End Welcome Message Modal -->

<!-- ========== END SECONDARY CONTENTS ========== -->

<th:block th:replace="layout/script :: script"/>


<th:block th:replace="user/modalUpdateUser :: modalUpdateUser"/>
<script>

    let user = new User();

    function handlerShowModalEditUser() {
        $("button.edit").on("click", function () {
            let id = $(this).data("id");

            $.ajax({
                type: "GET",
                url: "/api/users/" + id
            })
                .done(function (data) {
                    user = data;
                    // $("#idUp").val(data.id);
                    $("#fullNameUp").val(data.fullName);
                    $("#emailUp").val(data.email);
                    $("#phoneUp").val(data.phone);
                    $("#ageUp").val(data.age);
                    $("#addressUp").val(data.address);

                    $("#modalUpdateUser").modal("show");
                })
                .fail(function (resp) {
                    alert("Show modal update error");
                })
        });
    }
    handlerShowModalEditUser();

    // function doDelete(customerId) {
    //     $.ajax({
    //         type: "DELETE",
    //         url: "http://localhost:8080/api/customers/" + customerId,
    //     }).done(function () {
    //         showSuccess('Customer has been deleted');
    //         getAllCustomer();
    //     }).fail(function () {
    //         showError('Customrer\'s information is invalid');
    //
    //     })
    //
    // }

    function doDelete(userId) {
        $.ajax({
            type: "DELETE",
            url: "/api/users/" + userId

        }).done(function () {
            $("#tr_" + userId).remove();
            // getAllCustomer();
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
            )

        }).fail(function () {
            Swal.fire({
                position: 'mid-center',
                title: 'Customer\'s information is invalid',
                icon: 'error',
                showConfirmButton: false,
                timer: 1500
            })

        })
    }

    function handlerShowConfirmDelete() {
        $("button.delete").on('click', function () {
            let userId = $(this).data("id");

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'

            }).then((result) => {

                if (result.isConfirmed) {

                    doDelete(userId);

                }
            })
        })

    }

    handlerShowConfirmDelete();
</script>


</html>
